<ion-view title="Playlists" hide-nav-bar="true" class="lightblueBackground">
<!--   <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header"> -->

        <ion-content>

      
<div class="DJbackground">
      <div class="rightFlushed"><h2> <span class="whiteFont">&nbsp;</span></h2></div>
      <div class="rightFlushed"><h1> <span class="whiteFont">{{playlist.name}}</span></h1></div>
        <div>
          <input type="text" ng-model="search" class="search-query" placeholder="Filter..." style="width: 80%; margin-left:10%; font-size:20px; text-align:center">
      </div>
    </div>

    <div class="list">
      <ion-item ng-repeat="track in playlist.songs | filter:{$:search} | orderBy:'votes':true" class="my-repeat-animation">
      <div class="item item-icon-left item-icon-right playlistItem trackInfo largeIcon">
        <i class="icon ion-arrow-down-a icon-red" ng-click="voteDown({{track.id}})"></i>
        <div class="centered trackInfoText"> {{track.artist}} <br> {{track.title}} </div>
        <i class="icon ion-arrow-up-a icon-green arrowContainer largeIcon" ng-click="voteUp({{track.id}})">
            <div class="voteCountBubble">{{track.votes}}</div>
          <!-- <span class="countBadge">12</span>{{track.votes}} -->
        </i>
      </div>    
    </div>
  </ion-content>


</ion-view>
