<!DOCTYPE html>
<html lang="en">

<head>
    <!-- jQuery Version 1.11.0 -->
    <script src="/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/grayscale.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chusic - Crowdsource the music</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/singleView.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <!-- Navigation -->
<div class="container">
  <div class="row-fluid">
    <div class="content-section text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Chusic</h1>
          <h2>Crowdsource the music</h2>
        </div>
      </div> 
    </div>
  </div>
</div>


<br><br>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1 block">
    <h2 class="text-center">Let the crowd be the DJ</h2>
    <div class="boxText">
      <p>Chusic is the app that takes the jukebox to the 21st century. Allow your friends to control the music at your next party from their mobiles. Let your café customers control the music played themselves. Empower the people on the dance floor to select the next song. Get started by creating an event!</p>
    </div>
  </div>
  </div>


<br>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
          <button id="createButton" class="btn btn-lg btn-block btn-lightBlue pull-center btn-flat" type="submit">
              Create an event</button>
          </form>

      <script>
        $('#createButton').click(function(){
          document.location.href = "events/create";
        });
      </script>
    </div>
  </div>
</div>
<br><br><br>


  <!-- Login/signup section-->
<!--     <div class="container content-section text-center">
        <div class="row">
              <h1 class="text-center login-title">Sign in to create an event</h1>
                <div class="account-wall">
                    <form class="form-signin">
                    <input type="text" class="form-control" placeholder="Email" required autofocus>
                    <input type="password" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in</button>
                    </form>
                </div>
                <a href="#" class="text-center new-account">Create an account </a>
            </div>
    </div> -->


 
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Chusic</p>
        </div>
    </footer>


</body>

</html>
