<!DOCTYPE html>
<html lang="en">

<head>
    <!-- jQuery Version 1.11.0 -->
    <script src="/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/grayscale.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chusic - Crowdsource the music</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/singleView.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

        <form action="/events/" role="form" method="post" class="text-center h2">
          <div class="form-group">
            <label for="eventName">Event name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Name">
          </div>

          <div class="form-group">
            <label for="eventName">Event description</label>
            <textarea class="form-control" id="description" name="description" placeholder="Description"></textarea>
          </div>

          <div class="form-group">
          Playlist
          <br>
              <div class="text-left block">
                <input type="radio" id="classic" name="playlist" value="1">
                <label for="playList">Best of Alpine</label>
                <br>
                <input type="radio" id="classic" name="playlist" value="1">
                <label for="playList">Fondue night with friends</label>
                <br>
                <input type="radio" id="rebecca" name="playlist" value="2">
                <label for="playList">HackZurich Special</label>
                <br>
                <input type="radio" id="rebecca" name="playlist" value="2">
                <label for="playList">Feeling good on Friday</label>
                <br>
                <input type="radio" id="rebecca" name="playlist" value="2">
                <label for="playList">Swiss mocha music</label>
                <br>
                <input type="radio" id="rebecca" name="playlist" value="2">
                <label for="playList">Saturday night fever</label>
              </div>
          </div>

          <button type="submit" class="btn btn-lg btn-lightBlue">Submit</button>
        </form>
        </div>
    </div>
</div>
</body>
