<ion-view hide-nav-bar="true" class="partyCrowdBackground">
        <ion-content class="login" has-header="false">

    <div class="padding"></div>
    <div class="centered whiteFont"><h1><span class="whiteFont"> Welcome to Chusic</span></h1></div>
    <div class="centered whiteFont"><h2><span class="whiteFont"> Crowdsource the music</span></h2></div> 

    <div class="padding"></div>




  </ion-content>
    <div class="centered bottom">

    <button class="button button-full button-silver" ng-click="showPopup()">
      Join a party
    </button>
    <h2><span class="whiteFont"> If you're doin' it right <br> everybody will be dancin'
    </h2></span></div>
</ion-view>
