/* Empty. Add your own CSS if you like */

.lightblueBackground{
	background-color: #2980b9;
}

.partyCrowdBackground{
	background-image: url('../img/partyCrowdBackground.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.DJbackground{
	background-image: url('../img/DJbanner3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bar-header-thick{
	height:20px;
}

.centered{
	text-align: center;
}

.rightFlushed{
	text-align: right;
	padding-right:6px;
}

.bottom {
    position: fixed;
    bottom: 0;
    left:15px;
}


.button-silver{
	background-color:#bdc3c7;
	color:#fff;
	border:0px;
}

h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
}

h2{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
}

.whiteFont{
	color:#fff;
}

.headerFontColor{
	color:#ffe5ce;
}
.headerColor{
	color:#76ff64;
}

.icon-green{
	color: #2ecc71;
}

.icon-red{
	color:#e74c3c;
}

.item{
	padding:0px;
	border:1px solid #7f8c8d;
}

.negativePadding{
	margin:-12px;
}

.playlistItem{
	padding:0px;
	border:1px solid #fff;
}

.arrowContainer {
    position:relative;     /* This is crucial for the absolutely positioned element */
    border:0px solid blue; /* This is just to show you where the container ends */
}

.voteCountBubble {
    position:absolute;    /* This breaks the div from the normal HTML document. */
    top: 20px;
    right:-10px;
    padding:2px 2px 1px 2px;
    background-color:#3498db; /* you could use a background image if you'd like as well */
    color:white;
    font-weight:bold;
    font-size:0.55em;
    text-align: left;
    /* The following is CSS3, but isn't crucial for this technique to work. */
    /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
    /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
}

.trackInfo{
	color:#fff;
	background-color: #34495e;
	display:block;
    height:90px;
}

.trackInfoText{
	padding:10px;
	color:#fff;
	font-size:20px;
	line-height: 30px;
	font-family: 'Raleway', sans-serif;
}
.my-repeat-animation.ng-enter, 
.my-repeat-animation.ng-leave, 
.my-repeat-animation.ng-move {
  -webkit-transition: .8s linear all;
  transition: .8s linear all;
  position:relative;
}

.my-repeat-animation.ng-enter {
  left:-10px;
  opacity:0;
}
.my-repeat-animation.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.my-repeat-animation.ng-leave {
  left:0;
  opacity:1;
}
.my-repeat-animation.ng-leave.ng-leave-active {
  left:-10px;
  opacity:0;
}

.my-repeat-animation.ng-move {
  opacity:.2;
}
.my-repeat-animation.ng-move.ng-move-active {
  opacity:1;
}

.popup-body{
	padding-left: 1px;
	padding-right:1px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:0px;
	padding-bottom:0px;
}

input  
{ 
border-radius: 10px;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
}

.popup-head{
	margin:0px;
	padding:0px;
}

.popup-title {
	margin:0px;
	padding:0px;
}
.popup-buttons.row{
	margin:0px;
	padding:0px;	
}

.popup{
	margin:0px;
	padding:-40px;
}
 
.animate-repeat.ng-enter,
.animate-repeat.ng-leave,
.animate-repeat.ng-move {
  -webkit-transition:all ease-in-out 0.5s;
  transition:all ease-in-out 0.5s;
}
 
.animate-repeat.ng-enter,
.animate-repeat.ng-leave.ng-leave-active {
  opacity:0;
  margin-right:-50px;
}
 
.animate-repeat.ng-enter.ng-enter-active,
.animate-repeat.ng-leave {
  opacity:1;
  margin-right:0;
}