<style>.popup { width:80%;}</style>
<!-- <ul class="list">
<li class="item text-bar appintees-header">
Username
<div class="halfline"></div>
</li>


<li>
<label class="item item-input">
  <input type="text" id="input-location-entry" ng-model="newAppintment.location" placeholder="Insert">
</label>
</li>
</ul>
 -->
 <div class ="padding"></div>
  <label class="item item-input popup-text-bar">
    <input type="text" ng-model="eventID" autofocus placeholder="Enter Party ID">
  </label>

<div class="row">
  <div class="col col-20"></div>
  <div class="col"><button class="button button-icon icon icon-darkRed ion-close-round button-right-border" ng-click="cancelJoining()"></div>
  
  <div class="col"><button class="button button-icon icon icon-darkBlue {{loginIcon}} button-left-border" ng-click="joinParty()"></button></div>
  <div class="col col-20"></div>
</div>
</label>